@{
    Layout = "~/Views/Shared/_LoginRes.cshtml";
    ViewBag.Title = "Đăng nhập hệ thống";
}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <center>
                                <img style="height: 450px; width: 450px;" src="https://group-qr.zdn.vn/3/8bd08df195be7ce025af" alt="QR-Code">
                                <hr />
                                <div class="alert alert-info" role="alert">
                                    Quét QR Code để vào nhóm Zalo
                                </div>
                            </center>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5" style="height:768px !important;">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Đăng nhập hệ thống</h1>
                                </div>
                                @if (ViewBag.error != null)
                                {
                                    <div class="alert alert-danger" role="alert">@ViewBag.error</div>
                                }
                                <form class="user" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="userName" name="userName" aria-describedby="userName"
                                               placeholder="Enter Username..." value="@ViewBag.userName">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="passWord" name="passWord" placeholder="Password" value="@ViewBag.passWord">
                                    </div>
                                    @*<div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">
                        Remember
                        Me
                    </label>
                </div>
            </div>*@
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
                                    @*<hr>
            <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Login with Google
            </a>
            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
            </a>*@
                                </form>
                                <hr>
                                @*<div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div>*@
                                <div class="text-center">
                                    <a class="small" href="/Profile/Register">Tạo tài khoản</a>
                                </div>

                                <hr>

                                <center>
                                    <a href="https://zalo.me/g/vjnitz666">
                                        <div class="btn btn-info">
                                            Nhóm Zalo up hàng mới mỗi ngày - tại đây
                                        </div>
                                    </a>

                                    <hr>
                                    <div class="btn btn-outline-info">
                                        Zalo: 0387853737
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>